.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", type: "button"} ×
      %h3= t('.new_customer')
    = form_for(Customer.new, remote: true, format: :json ) do |f|
      .modal-body
        .left
          .input
            = f.label :name
            = f.text_field :name, class: "pretty-input"
          .input
            = f.label :surname
            = f.text_field :surname, class: "pretty-input"
          .input
            = f.label :registered_name
            = f.text_field :registered_name, class: "pretty-input"
          .input
            = f.label :dni
            = f.text_field :dni, class: "pretty-input"
          .input
            = f.label :address
            = f.text_field :address, class: "pretty-input"
          .input
            = f.label :phone
            = f.text_field :phone , class: "pretty-input"
          .input
            = f.label :mobile_phone
            = f.text_field :mobile_phone , class: "pretty-input"
        .right
          .input
            = f.label :type_iva
            = f.select :type_iva, type_iva_meth, {}, {class: "pretty-input"}
          .input
            = f.label :cuit_cuil
            = f.text_field :cuit_cuil, class: "pretty-input"
          .input
            = f.label :gross_income
            = f.text_field :gross_income, class: "pretty-input"
          .input
            = f.label :email
            = f.text_field :email, class: "pretty-input"
      .modal-footer
        = f.submit t('.save'), class: "btn-modal-submit"

