%table#customers-table.display{"data-source" => customers_url(format: "json")}
  %thead
    %tr
      %th= t('.name')
      %th= t('.surname')
      %th= t('.registered_name')
      %th= t('.dni')
      %th= t('.address')
      %th= t('.phone')
      %th= t('.email')
  %tbody
:javascript
  datatableKeyboard("#customers-table", "");
