%ul.customer-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#customer-data"}
      = t('.customer_data')
= form_for(@customer) do |f|
  = errors_for(@customer).html_safe
  .tab-content
    .tab-pane.active#customer-data
      = render "edit_customer_data", f: f
  = f.submit hidden: true
