.container
  %h1
    %span.label.label-default 1
    %a#invoice{href: "#{new_invoice_path}"}
      = t('.invoice')
  %h1
    %span.label.label-default 2
    %a#budget{href: "#"}
      = t('.budget')
  %h1
    %span.label.label-default 3
    %a{href: "#"}
      = t('.receipt')
  %h1
    %span.label.label-default 4
    %a{href: "#"}
      = t('.purchase_order')
  %h1
    %span.label.label-default 5
    %a{href: "#"}
      = t('.predit_memo')
  %h1
    %span.label.label-default 6
    %a{href: "#"}
      = t('.debit_memo')
  %h1
    %span.label.label-default 7
    %a{href: "#"}
      = t('order')
  %h1
    %span.label.label-default 8
    %a{href: "#"}
      = t('.loans')
