<%# @encoding: UTF-8 %>
$(document).ready(function() {

  // handle buttons sub header
  // -------------------------
  $("a.invoice-save-finish").click(function() {
    $("a.invoice-save-finish").attr("disabled", true);
    $("a.invoice-save-building").attr("disabled", true);
    $('#invoice_creation_state').val('finish');
    var msg = "<%= I18n.t('invoices.sub_header.confirm_msg_1') %>"
    msg = msg + "<%= I18n.t('invoices.sub_header.confirm_msg_2') %>"
    if(confirm(msg)) {
      $("[id^=edit_invoice_]").submit();
    }
    else {
      $("a.invoice-save-finish").attr("disabled", false);
      $("a.invoice-save-building").attr("disabled", false);
      $('#invoice_creation_state').val('init');
    }
  });
  $("a.invoice-save-building").click(function() {
    $("a.invoice-save-building").attr("disabled", true);
    $("a.invoice-save-finish").attr("disabled", true);
    $('#invoice_creation_state').val('building');
    $("[id^=edit_invoice_]").submit();
  });
  // delete the inovice and its items
  $(document).on('click', 'a#cancel-invoice', function(event){
    event.preventDefault();
    var path = this.href;
    var invoiceId = $('#invoices #product_tokens').data('invoice');
    $.ajax({
      type: "DELETE",
      url: "/invoices/" + invoiceId,
      dataType: "json"
    }).done(function(data, textStatus, xhr){
      window.location.href= path
    })
  });

  // variables
  // ---------
  var tItems; // table invoice-items
  var searchProduct, searchCustomer; //token input

  // token input to customer
  // -----------------------
  searchCustomer = $('#invoices #invoice_customer_tokens');
  searchCustomer.tokenInput('/customers.json', {
    theme: 'facebook',
    tokenLimit: "1",
    minChars: "3",
    resultsFormatter: function(customer){
      var compleName = customer.surname + " " + customer.name + "(" + customer.registered_name + ")";
      return "<li> <p style='color: black; font-size:20px' >" + compleName + " </p> </li>"; },
    tokenFormatter: function(item) {
      return "<li><p>" + (item.surname + " " +
      item.name ).substring(0,22)+ " (" + item.registered_name + ") </p> </li>" },
    noResultsText: "<%= I18n.t('.token_input.noResultsText') %>",
    hintText: "<%= I18n.t('.token_input.hintText_surname')%>",
    searchicodengText: "<%= I18n.t('.token_input.searchingText')%>",
    onAdd: function(customer){ fillCustomerData(customer) }
  });

  // table of items
  // --------------
  var partialSum;
  tItems = $('#invoices #items-invoice').dataTable({
    bJQueryUI: true,
    bServerSide: true,
    bFilter: false,
    bPaginate: false,
    bLengthChange: false,
    bInfo: false,
    sAjaxSource: $('#invoices #items-invoice').data('source'),
    sScrollY: "300",
    aoColumns: aColumnsOptions,
    fnCreatedRow: function(nRow, aData, iDataIndex){
      if (iDataIndex == 0)
        partialSum = 0;
      if (iDataIndex < tItems.fnSettings().fnRecordsTotal())
        partialSum += parseFloat(aData[6]);
      // set the price in view
      if (iDataIndex == tItems.fnSettings().fnRecordsTotal() - 1 ) {
        $('.total-price .price').html(partialSum.toFixed(2));
        // form input to amount
        $('#invoice_amount').val(partialSum.toFixed(2));
      }
    },
    oLanguage: {
      sUrl: "/datatables/spanish.txt"
    }
  });

  // token input to products
  // -----------------------
  searchProduct = $('#invoices #product_tokens').tokenInput('/products.json', {
    theme: 'facebook',
    tokenLimit: "1",
    resultsFormatter: function(item){
      var code, description, p1, p2;
      code = "<%= I18n.t('activerecord.attributes.product.code') %>: " + item.code;
      description = "<%= I18n.t('activerecord.attributes.product.description') %>: "
                    + item.description;
      p1 = "<p style='color: black; font-size:20px' >" + code + " </p>";
      p2 = "<p style='color: black; border-bottom: 1px solid black; font-size:16px'>"
            + description + " </p>";
      return '<li>' + p1 + p2 + '</li>';
    },
    propertyToSearch: 'code',
    noResultsText: "<%= I18n.t('.token_input.noResultsText') %>",
    hintText: "<%= I18n.t('.token_input.hintText_surname')%>",
    searchingText: "<%= I18n.t('.token_input.searchingText')%>"
  });

  // handle items
  // ------------
  $('#invoices #product_tokens').on( "change", function(){
    $.ajax({
      type: "GET",
      url: "/items/new",
      dataType: "html",
      data: { product: this.value, invoice: this.getAttribute('data-invoice') }
    })
    .done(function(data, textStatus, xhr){
      searchProduct.tokenInput("clear");
      $('#new-item-modal').html(data);
      $('#new-item-modal').modal('show');
    });
  });

  $('#openBtn-customer').click(function(){
    $('#customer-modal').modal('show')
  });

  $(document).on('ajax:success','#new_customer', function(evt, data, status, xhr){
    $('#customer-modal').modal('hide');
  });

  // Modal add Item
  $(document).on('ajax:success', '#invoices #new_item',
  function(evt, data, status, xhr){
    $('#new-item-modal').modal('hide');
    tItems.fnDraw();
  });

  // Delete an Item from Invoice
  $(document).on('ajax:success', '#invoices .delete-item',
  function(evt, data, status, xhr){
    var htmlNum = $(this).closest('tr').find("td:nth-child(7n)").html();
    partialSum -= parseFloat(htmlNum);
    $('.total-price .price').html(partialSum.toFixed(2));
    $(this).closest('tr').fadeOut().remove();
  });

  // Modal edit item
  $(document).on('ajax:success', '#invoices .open-edit-item-modal',
  function(evt, data, status, xhr){
    $('#edit-item-modal').html(data);
    $('#edit-item-modal').modal('show');
  });

  // Modal edit item
  $(document).on('ajax:success', '#invoices [id^=edit_item_]',
  function(evt, data, status, xhr){
    $('#edit-item-modal').modal('hide');
    tItems.fnDraw();
  });

  // verify amount in modals
  $(document).on('click', '#invoices .modal-submit',
  function(evt){
    var amount, stock, modal;
    modal = '#invoices  #' + $(this).closest('form').prop('id');
    amount = $(modal + ' #item_amount').val();
    stock = $(modal + ' #current-stock').html();
    if (parseInt(amount)  > parseInt(stock) || parseInt(amount) == 0) {
      alert("<%= I18n.t('items.errors.stock') %>");
      evt.preventDefault();
    }
  });

  function fillCustomerData(customer){
    var $scope = $(".show-customer");
    $("#sr", $scope).html( customer.name + " " + customer.surname );
    $("#address", $scope).html( customer.address );
    $("#iva", $scope).html( customer.type_iva );
    $("#cuit_cuil", $scope).html( customer.cuit_cuil );
    $("#gross_income", $scope).html( customer.gross_income);
    $("#phone", $scope).html( customer.phone )
    $("#cellphone", $scope).html( customer.mobile_phone )
  }


  // index invoice
  //
  var invoicesTable;
  invoicesTable = $('#invoices #invoices_table').dataTable({
    sPaginationType: "full_numbers",
    // bAutoWidth: false,
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#invoices #invoices_table').data('source'),
    "aaSorting": [[ 5, "desc" ]],
    fnInitComplete: function(oSettings, json){
      $("thead th").each( function (i) {
          $('select', this).change( function () {
            invoicesTable.fnFilter($(this).val(),i);
           });
      });
    },
    oLanguage: {
      sUrl: "/datatables/spanish.txt"
    }
  });

});// document

var aColumnsOptions =
  [
    { "sClass": "center", "bSortable": false },
    { "bSortable": false },
    { "sClass": "center", "bSortable": false },
    { "sClass": "center", "bSortable": false },
    { "sClass": "center", "bSortable": false },
    { "bSortable": false },
    { "sClass": "center", "bSortable": false },
    { "sClass": "center", "bSortable": false }
  ]
