<%# @encoding: UTF-8 %>
$(document).ready(function() {

    // token to category
  $('#product_category_tokens').tokenInput('/categories.json', {
    crossDomain: false,
    prePopulate: $('#product_category_tokens').data('pre'),
    theme: "facebook",
    tokenLimit: "1",
    noResultsText: "<%= I18n.t('.token_input.noResultsText') %>",
    hintText: "<%= I18n.t('.token_input.hintText_surname')%>",
    searchingText: "<%= I18n.t('.token_input.searchingText')%>",
    resultsFormatter: function(item){
      var referrer = (item.referrer == null ? "" : "("+item.referrer.name+")");
      return "<li><p style='color: black' >" + item.name+ referrer+ " </p> </li>" },
    tokenFormatter: function(item) {
      var referrer = (item.referrer == null ? "" : "("+item.referrer.name+")");
      return "<li><p>" + item.name+ referrer+ " </p> </li>" }
  });

  var oTable, search_category, search_description, search_code; 
  oTable = $('#product-table').dataTable({
    oLanguage: {
      sUrl: "/datatables/spanish.txt"
    },
    aaSorting: [[ 0, "desc" ]],
    sPaginationType: "full_numbers",
    bAutoWidth: false,
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#product-table').data('source'),
    fnInitComplete: function(oSettings, json) {
      $("thead th").each( function ( i ) {
        $('select', this).change( function () {
          oTable.fnFilter( $(this).val(),i);
        });
        $('input', this).change( function () {
          search_category = $('input[name="search_category"]').val();
          search_code = $('input[name="search_code"]').val();
          search_description = $('input[name="search_description"]').val();
          oTable.fnFilter($(this).val(),i);
        });
      });
    },
    aoColumns: aColumnsOptions,
    "fnServerParams": function ( aoData ) {
      aoData.push( { "name": "search_code", "value": search_code } );
      aoData.push( { "name": "search_description", "value": search_description } );
      aoData.push( { "name": "search_category", "value": search_category } );
    }    
  });

  $("a.product-save").click( function() {
    $("#new_product, [id^=edit_product_]").submit();
  });

  $(document).on('ajax:before', '#new_vat', function(){
    if ($("#vat_percentaje").val() == '') {
      return false;
    }
  });

  $(document).on('ajax:success','#new_vat', function(evt, data, status, xhr){
    $('#vat-modal').modal('hide');
    $('#vat_select')
      .append($("<option></option>")
      .attr("value",data.id)
      .text(data.percentaje)
    );
  });

  $(document).on('ajax:before', '#new_category', function(){
    if ($("#category_name").val() == '') {
      return false;
    }
  });

  $(document).on('ajax:success','#new_category', function(evt, data, status, xhr){
    $('#category_referrer_id').tokenInput("clear");
    $('#category-modal').modal('hide');
  });

  $('#openBtn-category').click(function(){
    $.ajax({
      type: "GET",
      url: "/categories/new",
      dataType: "html"
    })
    .done(function(data, textStatus, xhr){
      $('#category_name').val('');
      $('#category-modal').html(data);
      $('#category_referrer_id').tokenInput('/categories.json', {
        crossDomain: false,
        prePopulate: $('#category_referrer_id').data('pre'),
        theme: "facebook",
        tokenLimit: "1",
        minChars: "3",
        noResultsText: "<%= I18n.t('.token_input.noResultsText') %>",
        hintText: "<%= I18n.t('.token_input.hintText_category')%>",
        searchingText: "<%= I18n.t('.token_input.searchingText')%>",
        resultsFormatter: function(item){
          var referrer = (item.referrer == null ? "" : "("+item.referrer.name+")");
          return "<li><p style='color: black' >" + item.name+ referrer+ " </p> </li>" },
        tokenFormatter: function(item) {
          var referrer = (item.referrer == null ? "" : "("+item.referrer.name+")");
          return "<li><p>" + item.name+ referrer+ " </p> </li>" }
      });
      $('#category-modal').modal('show');
    })  
  });

  $('#openBtn-vat').click(function(){
    $.ajax({
      type: "GET",
      url: "/vats/new",
      dataType: "html"
    })
    .done(function(data, textStatus, xhr){
      $('#vat-modal').html(data);
      $('#vat-modal').modal('show');
    })
  });

})// End Document

var aColumnsOptions =
  [
    { "sWidth": "1%", "sClass": "center", "bSearchable": true },
    { "sWidth": "7%", "bSearchable": true },
    { "sWidth": "5%", "bSearchable": true },
    { "sWidth": "1%", "bSearchable": true },
    { "sWidth": "1%", "bSearchable": true },
    { "sWidth": "1%", "bSearchable": true },
    { "sWidth": "1%", "bSearchable": true },
    { "sWidth": "1%", "bSearchable": true },
    { "sWidth": "1%", "bSearchable": true }
  ]

