$(document).ready(function() {

  $("a.receipt-save").click( function() {
    if (checkProperties()) {
      invoicesSelected(invoiceTable);
      $("#new_receipt, [id^=edit_receipt_]").submit();
    }
  });

  $("a.receipt-cancel").click( function(event) {
    event.preventDefault();
    var path = this.href;
    if ($('#receipt_check_ids').val() == "") {
      window.location.href= path
      return;
    }
    $.ajax({
      type: "DELETE",
      url: "/checks/" + $('#receipt_check_ids').val(),
      dataType: "json",
    }).done(function(data, textStatus, xhr){
      window.location.href= path
    })
  })

  var invoiceTable;
  $('#receipt_customer_tokens').tokenInput('/customers.json', {
    crossDomain: false,
    prePopulate: $('#receipt_customer_token').data('pre'),
    theme: "facebook",
    tokenLimit: "1",
    noResultsText: "<%= I18n.t('.token_input.noResultsText')%>",
    hintText: "<%= I18n.t('.token_input.hintText')%>",
    searchingText: "<%= I18n.t('.token_input.searchingText')%>",
    resultsFormatter: function(item){
      return "<li><p style='color: black' >" + item.surname
      + " " + item.name +  " (" + item.registered_name + ") </p> </li>" },
    tokenFormatter: function(item) {
      return "<li><p>" + (item.surname + " " +
      item.name ).substring(0,22)+ " (" + item.registered_name + ") </p> </li>" },
    onAdd: function(data){ fillCustomerData(data) }
  });

  $("#receipt_customer_tokens").on("change", function(){
    $('#invoices-table').show();
    if (this.value == "") {
      $("#type_vat_label").text("");
      $("#registered_name_label").text("");
      $('#invoices-table').hide();
    }
  });

  $('#openBtn-bank').click(function(){
    $('#bank-modal').modal('show');
  });

  var amountAux, showCheckTable = false
  $("a.button-save").click(function(){
    $("#new_check").submit();
    amountAux = parseFloat($('#check_amount').val());
  });

  var amountCheck = 0;

  $(document).on('ajax:success','#new_check', function(evt, data, status, xhr){
    $('#table-of-check').append(data);
    $('#table-of-check tr:last').effect("highlight", {}, 3000);
    $('#table-of-check').show("slow");
    $('#new_check')[0].reset();
    var ids = $('#receipt_check_ids').val();
    if (ids == "") {
      ids = $(data).data("check-id");
    } else {
      ids = ids + "," + $(data).data("check-id");
    }
    $('#receipt_check_ids').val(ids);
    showCheckTable = true;
    amountCheck = amountCheck + amountAux;
    $("#receipt_amount_check").text(amountCheck)
    amount = amountCash + amountCheck;
    $("#amount").text(amount);
  });

  hiddenInputs();

  // changes the visibility of transactions inputs
  $("#cash").on('click', function(e){
    $(this).parents(".thorizontal").siblings().toggle("show");
  });

  $("#pay-tab").on('click', function(){
    if ($("#check").prop('checked')) {
      $('#data-check').show("slow");
    }
    if (showCheckTable) {
      $('#table-of-check').show("slow");
    }
  });

  $("#data-tab").on('click', function(){
    $('#data-check').hide();
    $('#table-of-check').hide();
  });

  $("#check").on('click', function(e){
    var check = $("#check");
    if (check.prop('checked')) {
      $(this).parents(".thorizontal").siblings().toggle("show");
      $('#data-check').show("slow");
    } else {
      $('#data-check').hide("slow");
      check.parents(".thorizontal").siblings().hide();
    }
  });

  var amountCash = 0, amount = 0;
  $("#receipt_amount_cash").on('change', function(){
    amountCash = parseFloat(this.value);
    amount = amountCash + amountCheck;
    $("#amount").text(amount);
  })

  function fillCustomerData(customer){
    $("#type_vat_label").text(customer.type_iva);
    $("#registered_name_label").text(customer.registered_name);
    invoiceTable = $('#invoices-table').dataTable({
      sPaginationType: "full_numbers",
      bJQueryUI: true,
      bProcessing: true,
      bServerSide: true,
      bDestroy: true,
      sAjaxSource: "/customers/" + customer.id,
      sAjaxDataProp: "table.aaData",
      sScrollY: "200",
      oLanguage: {
        sUrl: "/datatables/spanish.txt"
      }
    });
    multiSelectedRow(invoiceTable, "#invoices-table");
  }
});// End Document

function checkProperties () {
  if ($("#receipt_customer_tokens").val() == "") {
    alert("<%= I18n.t('.receipts.errors.not_customer')%>");
  } else if (($("#receipt_amount_cash").val() == "") && ($("#receipt_amount_cash").val() == "")) {
    alert("<%= I18n.t('.receipts.errors.not_amount')%>");
  } else {
    return true;
  }
}

function deleteRow(btn) {
  var row = btn.parentNode.parentNode;
  checkDelete = $(row).data('check-id');
  amountDeleted = parseFloat($('#check-amount').val());
  $.ajax({
    type: "DELETE",
    url: "/checks/" + checkDelete,
    dataType: "json",
  })
  .done(function(data, textStatus, xhr){
    row.parentNode.removeChild(row);
    amountCheck = parseFloat($("#receipt_amount_check").text()) ;
    amountCheck = amountCheck - amountDeleted;
    $("#receipt_amount_check").text(amountCheck);
    amount = parseFloat($("#amount").text()) - amountDeleted;
    $("#amount").text(amount);
  });
}

function invoicesSelected(oTable) {
  var invoice_ids = $('#receipt_invoice_ids').val();
  var invoices = fnGetSelected(oTable);
  var index = invoices.length;
  for (var i = 0; i < index; i++) {
    if (invoice_ids == "") {
      invoice_ids = invoices[i][0];
    } else {
      invoice_ids = invoice_ids + "," + invoices[i][0];
    }
  };
  $('#receipt_invoice_ids').val(invoice_ids);
}

function hiddenInputs () {
  var check, cash;
  check = $('#check');
  cash = $('#cash');
  if (!check.prop('checked')){
    $('#table-of-check').hide();
    $('#data-check').hide();
    $('#invoices-table').hide();
    check.parents(".thorizontal").siblings().hide();
  }
  if (!cash.prop('checked')) {
    cash.parents(".thorizontal").siblings().hide();
  }
}

