%tr{"data-card-id" => @card.id}
  %td= @card.name
  %td= @card.type_card
  %td= @card.number
  %td= @card.expirate_at
  %td= @card.code
  %td= @card.amount
  %td
    %a.button-show{ href: @card }
      = t('.show')
    %a.button-delete{ id: "delete-card", onclick: "deleteRow(this)" }  
      = t('.delete')