.data-check
  .left
    .title= t('checks.check_data')
    .input
      = f.label :amount
      = f.number_field :amount, class: "pretty-input"
    .input
      = f.label :check_number
      = f.text_field :check_number, class: "pretty-input"
    .input
      = f.label :emission_date
      .check_date_time_picker
        = f.text_field :emission_date, { class: "pretty-input",
                                      value: print_date(f.object.emission_date, :date_human) }
        %span.input-group-addon.glyphicon.glyphicon-calendar
    .input
      = f.label :payment_date
      .check_date_time_picker
        = f.text_field :payment_date, { class: "pretty-input",
                                    value: print_date(f.object.payment_date, :date_human) }
        %span.input-group-addon.glyphicon.glyphicon-calendar
  .right
    .title= t('checks.comercial_data')
    .input
      = f.label :emisor
      = f.text_field :emisor, class: "pretty-input"
    .input
      = f.label :account
      = f.text_field :account, class: "pretty-input"
    .input
      = f.label :bank
      = f.collection_select :bank_id,
                            Bank.all,
                            :id, :complete_name,
                            { :include_blank => true }, class: "pretty-input"
      %a#openBtn-bank{href: "#{new_bank_path(@check)}", class: current_tag('checks')}
        %i.icon-plus-sign.icon-1x
    .input
      = f.label :check_status
      = f.select :check_status, check_status,
                          { :include_blank => true }, class: "pretty-input"


