%tr
  %td= @check.check_number
  %td= @check.emisor
  %td= @check.emission_date
  %td= @check.payment_date
  %td= @check.amount
  %td= @check.check_status
  %td
    %a.button-show{ href: @check }
      = t('.show')
    %a.button-edit{ href: edit_check_path(@check) }
      = t('.edit')
    = link_to t('.destroy'), check_path(@check), method: :delete, confirm: "Are you sure?", :class => 'btn btn-danger'