.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", type: "button"} ×
      %h3= t('categories.new_category')
    = form_for(Category.new, remote: true, format: :json ) do |c|
      .modal-body
        .input
          = c.label :name
          = c.text_field :name, class: "pretty-input"
        .input
          = c.label :referrer
          = c.collection_select :referrer_id,
                            Category.all,
                            :id, :name,
                            { :include_blank => true }, class: "pretty-input"
      .modal-footer
        = c.submit t('categories.add'), class: "btn-modal-submit"
