.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", type: "button"} ×
      %h3= t('.new_vat')
    = form_for(Vat.new, remote: true, format: :json) do |f|
      .modal-body
        .input
          = f.label t('.percentaje')
          = f.text_field :percentaje, class: "pretty-input"
      .modal-footer
        = f.submit t('.save'), class: "btn-modal-submit"
