.edit-product
  .left
    .title= t('.product_data')
    .input
      = f.label :code
      = f.text_field :code, class: "pretty-input"
    .input
      = f.label :description
      = f.text_field :description, class: "pretty-input"
    .input
      = f.label :minimun_stock
      = f.text_field :minimun_stock, class: "pretty-input"
    .input
      = f.label :gondola
      = f.text_field :gondola , class: "pretty-input"
    .input
      = f.label :shelf
      = f.text_field :shelf , class: "pretty-input"
    .input
      = f.label :category
      = f.select :category_id, category_meth, {}, :id => "category_select", class: "pretty-input"
      %a#openBtn-category.new-category{"data-toggle" => "modal", href: "#"}
        = t('.new_category')
  .right
    .title= t('.comercial_data')
    .input
      = f.label t('.money')
      = f.collection_select :money_id,
                            Money.all,
                            :id, :complete_name,
                            {}, class: "pretty-input"
    .input
      = f.label :cost_price
      = f.text_field :cost_price, class: "pretty-input"
    .input
      = f.label :list_price_one
      = f.text_field :list_price_one , class: "pretty-input"
    .input
      = f.label :list_price_two
      = f.text_field :list_price_two , class: "pretty-input"
    .input
      = f.label :vat
      = f.select :vat_id, vat_meth, {}, :id => "vat_select", class: "pretty-input"
      %a#openBtn-vat.new-vat{"data-toggle" => "modal", href: "#"}
        = t('.new_vat')
