%table#product-table.display{"data-source" => products_url(format: "json")}
  %thead
    %tr
      %th= t('.code')
      %th= t('.description')
      %th= t('.stock')
      %th= t('.minimun_stock')
      %th= t('.category')
      %th= t('.list_price_one')
      %th= t('.list_price_two')
  %tbody
:javascript
  datatableKeyboard("#product-table", "#category-modal, #vat-modal");
