.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", type: "button"} ×
      %h3= t('.new_category')
    = form_for(Category.new, remote: true, format: :json ) do |c|
      .modal-body
        .input
          = c.label :name
          = c.text_field :name, class: "pretty-input"
        .input
          = c.label t('.referrer_id')  
          .token_field 
            = c.text_field :referrer_id
      .modal-footer
        = c.submit t('.save'), class: "btn-modal-submit"

