%table#suppliers.display{"data-source" => suppliers_url(format: "json")}
  %thead
    %tr
      %th= t('.name')
      %th= t('.surname')
      %th= t('.dni')
      %th= t('.address')
      %th= t('.phone')
      %th= t('.mobile_phone')
      %th= t('.email')
  %tbody
