#suppliers
  .sub-header
    -if edit_or_new_page?(@supplier)
      %a.supplier-save
        %i.icon-save.icon-2x
        = t('.save')
      %a.supplier-danger{href: "#{suppliers_path}"}
        %i.icon-remove-sign.icon-2x
        = t('.cancel')
    -elsif show_page?(@supplier)
      %a.supplier-new{ href: "#{edit_supplier_path(@supplier)}" }
        %i.icon-edit.icon-2x
        = "editar"
    -else
      %a.supplier-new{ href: "#{new_supplier_path}" }
        %i.icon-plus-sign.icon-2x
        = t('.new')
      %a.supplier-print{href: "#"}
        %i.icon-print.icon-2x
        = t('.print')