.transaction
  .thorizontal
    .tlabel
      = f.label t('.cash')
    .tcheck
      .tcheckbox
        = check_box_tag "cash"
  .thorizontal
    .tlabel-title
      = f.label :amount_cash
    .tinput
      = f.text_field :amount_cash, class: "pretty-input"     
.transaction
  .thorizontal      
    .tlabel-title
      = label_tag t('.amount')
    .tamount
      = label_tag "", nil, id: "amount", class: "pretty-input"      
      