.pay-receipt
  .left
    .title 
      = t('.cash_pay')  
    = render 'cash_transaction', f: f  
  .center
    .title
      = t('.card_pay')
    = render 'card_transaction', f: f
  .right
    .title
      = t('.check_pay')
    = render 'check_transactions', f: f
  