%table#table-of-check
  %thead
    %tr
<<<<<<< HEAD
      %th= t('.number')
      %th= t('.emmiter')
      %th= t('.date_of_emission')
      %th= t('.day_of_pay')
      %th= t('.amount')
      %th= t('.state')
      %th= t('.actions')
  %tbody
=======
      %th= t('.Numero')
      %th= t('.Emisor')
      %th= t('.Fecha de emission')
      %th= t('.Fecha de pago')
      %th= t('.Monto')
      %th= t('.Estado')
      %th= t('.Acciones')

  %tbody
>>>>>>> Add table of receipts
