%table#table-of-check
  %thead
    %tr
      %th= t('.number')
      %th= t('.emmiter')
      %th= t('.date_of_emission')
      %th= t('.day_of_pay')
      %th= t('.amount')
      %th= t('.state')
      %th= t('.actions')
  %tbody

