%table#table-of-card
  %thead
    %tr
      %th= t('.name')
      %th= t('.type_card')
      %th= t('.number')
      %th= t('.expirate_at')
      %th= t('.code')
      %th= t('.amount')
      %th= t('.actions')
  %tbody
