%table.table#table-of-check.table-bordered.table-striped
  %thead
    %tr
      %th= t('.Numero')
      %th= t('.Emisor')
      %th= t('.Fecha de emission')
      %th= t('.Fecha de pago')
      %th= t('.Monto')
      %th= t('.Estado')
      %th= t('.Acciones')

  %tbody