#receipts
  %ul.receipts-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#data'}
        Datos
    %li
      %a{'data-toggle' => 'tab', href: '#pay'}
        Forma de pagos
    %li
      %a{'data-toggle' => 'tab', href: '#preview'}
        Vista Previa

  = form_for @receipt do |f|
    = errors_for(@receipt).html_safe
    .receipts-tabs-content
      #data.tab-pane.active
        = render 'data_receipt', f: f
      #pay.tab-pane
        = render 'pay_receipt', f: f
      #preview.tab-pane

    = f.submit hidden: true
