#receipts
  %ul.receipts-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#data', id: 'data-tab'}
        = t('.data')
    %li
      %a{'data-toggle' => 'tab', href: '#pay', id: 'pay-tab'}
        = t('.pay_form')

  = form_for @receipt do |f|
    = errors_for(@receipt).html_safe
    = f.hidden_field :check_ids, value: []
    .receipts-tabs-content
      #data.tab-pane.active
        = render 'data_receipt', f: f
      #pay.tab-pane
        = render 'pay_receipt', f: f
      #preview.tab-pane
    = f.submit hidden: true
  #data-check
    = form_for(Check.new, remote: true, format: :html) do |f|
      #new-check
        = render 'data_check', f: f
      = f.submit hidden: true
<<<<<<< HEAD
  = render 'table_check'
=======
  #table-check
    = render 'table_check'
>>>>>>> Add table of receipts
