#receipts
  %ul.receipts-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#data'}
        = t('.data')
    %li
      %a{'data-toggle' => 'tab', href: '#pay'}
        = t('.pay_form')
    %li
      %a{'data-toggle' => 'tab', href: '#preview'}
        = t('.preview')

  = form_for @receipt do |f|
    = errors_for(@receipt).html_safe
    .receipts-tabs-content
      #data.tab-pane.active
        = render 'data_receipt', f: f
      #pay.tab-pane
        = render 'pay_receipt', f: f
      #preview.tab-pane
    = f.submit hidden: true
  #data-check
    = form_for Check.new do |f|
      #new-check
        = render 'data_check', f: f
      = f.submit hidden: true  
