#receipts
  %ul.receipts-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#data', id: 'data-tab'}
        = t('.data')
    %li
      %a{'data-toggle' => 'tab', href: '#pay', id: 'pay-tab'}
        = t('.pay_form')

  = form_for @receipt do |f|
    = errors_for(@receipt).html_safe
    = f.hidden_field :check_ids, value: ""
    = f.hidden_field :invoice_ids, value: ""
    = f.hidden_field :card_ids, value: ""
    .receipts-tabs-content
      #data.tab-pane.active
        = render 'data_receipt', f: f
      #pay.tab-pane
        = render 'pay_receipt', f: f
      #preview.tab-pane
    = f.submit hidden: true
  #data-card
    #new-card  
  = render 'table_card'  
  #data-check
    #new-check
  = render 'table_check'
  #bank-modal.modal.fade
  #card-modal.modal.fade
    = render 'new_name_card'
