%ul.menu-head
  %li
    %a{href: "#{customers_path}" }
      %i.icon-user.icon-3x
      = t('.clients')
  %li
    %a{href: "#"}
      %i.icon-folder-open-alt.icon-3x
      = t('.orders')
  %li
    %a{href: "#"}
      %i.icon-search.icon-3x
      = t('.estimates')
  %li
    %a{href: "#"}
      %i.icon-calendar.icon-3x
      = t('.nose')
  %li
    %a{href: "#"}
      %i.icon-user.icon-3x
      = t('.nose')
  %li
    %a{href: "#"}
      %i.icon-shopping-cart.icon-3x
      = t('.articles')
  %li
    %a{href: "#"}
      %i.icon-paste.icon-3x
      = t('.nose')
